/* ----------------------------Tela de Classificação----------------------------*/
.container-class {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: var(--bg-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
  border: 2px solid var(--color-first);
}

.container-class h2 {
  color: var(--color-first);
  font-size: 40px;
  padding: 15px 0px 30px 0px;
}

.container-class h3 {
  color: var(--color-first);
  font-size: 30px;
  padding: 15px 0px 25px 0px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
  text-align: left;
}

.container-class h4 {
  color: var(--color-first);
  font-size: 25px;
  padding: 15px 0px 20px 0px;
}

.container-class .grupo {
  padding-bottom: 50px;
}

.container-class table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  font-size: 16px;
  color: var(--color-second);
  border: 1px solid var(--color-second);
}

.container-class th,
.container-class td {
  padding: 10px;
  text-align: center;
}

.container-class th {
  background-color: var(--color-first);
  color: var(--color-third);
  border: 1px solid var(--color-second);
}

.container-class tr {
  color: var(--color-second);
  border: 1px solid var(--color-second);
  background-color: var(--bg-third);
}

.alinhar-time {
  display: flex;
  align-items: center;
}

.alinhar-time img {
  max-width: 50px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  margin-right: 15px;
  border-radius: 3px;
}

.primeiros {
  border-left: 3px solid rgb(1, 255, 1);
}

.ultimo {
  border-left: 3px solid red;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .container-class table {
    max-width: 90%;
  }

  .container-class h2 {
    font-size: 24px;
  }

  .container-class h3 {
    font-size: 20px;
  }

  .container-class h4 {
    font-size: 18px;
  }

  /* Reduza o tamanho das imagens */
  .alinhar-time img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  /* Tornar a tabela responsiva */
  .container-class table {
    font-size: 12px; /* Reduz o tamanho da fonte das tabelas para melhor legibilidade em telas pequenas */
    width: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
    overflow-x: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
  }
}

@media (max-width: 576px) {
  .none {
    display: none;
  }
}
