/* ----------------------------Pagina de estatistica---------------------------- */
/* Estilo das seções */
.container-estatistica section {
  max-width: 1200px;
  margin: 30px auto; /* Centraliza o conteúdo horizontalmente */
  background-color: var(--bg-first);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--color-first);
  box-shadow: 0 5px 15px;
}

.container-estatistica h2 {
  color: var(--color-first);
  margin-bottom: 35px;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
  text-align: center;
}

/* Estilo das tabelas */
.container-estatistica table {
  width: 100%;
  border-collapse: collapse;
}

.container-estatistica th,
.container-estatistica td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--color-second);
}

.container-estatistica th {
  background-color: var(--color-first);
  color: var(--bg-second);
  border: 1px solid var(--color-second);
}

/* Estilos para as células que contêm imagens e logotipos */
.container-estatistica td img {
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  border-radius: 3px;
}

.container-estatistica td {
  text-align: center; /* Centraliza horizontalmente o texto dentro das células */
  vertical-align: middle; /* Centraliza verticalmente o conteúdo */
  color: var(--color-second);
  background-color: var(--bg-third);
}

.container-estatistica section img {
  max-width: 50px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
}

@media (max-width: 768px) {
  .container-estatistica section {
    margin: 20px auto; /* Centraliza o conteúdo horizontalmente */
    padding: 10px;
  }

  .container-estatistica h2 {
    font-size: 25px;
  }

  .container-estatistica table {
    font-size: 14px;
  }

  .container-estatistica th,
  .container-estatistica td {
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .container-estatistica h2 {
    text-decoration: none;
  }

  .container-estatistica section {
    margin: 10px auto; /* Centraliza o conteúdo horizontalmente */
    padding: 10px;
  }

  .container-estatistica h2 {
    font-size: 20px;
  }

  .container-estatistica table {
    font-size: 12px;
  }

  .container-estatistica th,
  .container-estatistica td {
    padding: 5px;
  }

  .none {
    display: none;
  }
}

@media (max-width: 400px) {
  .container-estatistica section {
    margin: 10px auto; /* Centraliza o conteúdo horizontalmente */
    padding: 10px;
  }

  .container-estatistica h2 {
    font-size: 18px;
  }

  .container-estatistica table {
    font-size: 10px;
  }

  .container-estatistica th,
  .container-estatistica td {
    padding: 5px;
  }

  .none {
    display: none;
  }
}

@media (max-width: 320px) {
  .container-estatistica section {
    margin: 10px auto; /* Centraliza o conteúdo horizontalmente */
    padding: 10px;
  }

  .container-estatistica h2 {
    font-size: 16px;
  }

  .container-estatistica table {
    font-size: 8px;
  }

  .container-estatistica th,
  .container-estatistica td {
    padding: 5px;
  }

  .none {
    display: none;
  }
}
