/* ----------------------------Pagina de Home ----------------------------*/
/* ----------------------------Parte Carrosel de Confrontos ----------------------------*/
/* Estilos para o container do carrossel */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o carrossel */
.carousel {
  width: 100%; /* Defina a largura como 100% para ocupar a largura total do container */
  margin-top: 30px;
  transition: transform 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  flex: 3;
}

.card-slider {
  background-color: var(--bg-first);
  width: 100%; /* Usar 100% para tornar o design responsivo */
  display: none;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box; /* Evitar problemas com largura total */
  border: 2px solid var(--color-first);
  border-radius: 10px;
}

.card-slider.active {
  display: block;
}

.header-card-slider h2 {
  color: var(--color-first);
  font-size: 40px;
}

.header-card-slider p {
  color: var(--color-second);
  font-size: 20px;
}

.plays-card-slider {
  display: flex;
  justify-content: space-around;
}

.play01 p,
.play02 p {
  background: linear-gradient(to bottom, #591c21, #d92525);
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  border-top: 3px solid var(--color-first);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.play01 img,
.play02 img {
  max-width: 300px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.score-card-slider p {
  padding-top: 100px;
  font-size: 90px;
  color: var(--color-second);
}

#prevButton,
#nextButton {
  background-color: var(--color-first);
  color: var(--bg-box);
  height: 150px; /*Defina a altura desejada */
  border: 3px solid var(--color-first);
  padding: 10px 20px; /* Aumente o padding para ajustar o tamanho dos botões */
  cursor: pointer;
  font-weight: bold;
  font-size: 30px; /* Aumente o tamanho da fonte */
}

#nextButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#prevButton {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#prevButton:hover,
#nextButton:hover {
  background-color: var(--hover-first);
}

@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
  }

  .card-slider {
    width: 100%;
  }

  .play01 img,
  .play02 img {
    max-width: 100%; /* Defina o tamanho máximo desejado */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .play01 p,
  .play02 p {
    font-size: 20px;
  }

  .score-card-slider p {
    padding-top: 50px;
    font-size: 60px;
  }

  #prevButton,
  #nextButton {
    height: 100px; /*Defina a altura desejada */
    padding: 10px 20px; /* Aumente o padding para ajustar o tamanho dos botões */
    cursor: pointer;
    font-weight: bold;
    font-size: 20px; /* Aumente o tamanho da fonte */
  }
}

/*---------------- tabela de classificação--------- */
.container-class {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: var(--bg-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
  border: 2px solid var(--color-first);
}

.container-class h2 {
  color: var(--color-first);
  font-size: 30px;
  padding: 15px 0px 30px 0px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.container-class table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.container-class th,
.container-class td {
  padding: 10px;
  text-align: center;
}

.container-class th {
  background-color: var(--color-first);
  color: var(--color-third);
  border: 1px solid var(--color-second);
}

.container-class tr {
  color: var(--color-second);
  border: 1px solid var(--color-second);
  background: var(--bg-third);
}

.alinhar-time {
  display: flex;
  align-items: center;
}

.alinhar-time img {
  max-width: 50px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  margin-right: 10px;
  border-radius: 3px;
}

.primeiros {
  border-left: 3px solid rgb(1, 255, 1);
}

.ultimo {
  border-left: 3px solid red;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .container-class table {
    width: 100%;
  }
  .container-class th,
  .container-class td {
    padding: 5px;
    font-size: 14px;
  }
  .container-class h2 {
    font-size: 20px;
  }
  .container-class tr {
    font-size: 14px;
  }
  .container-class tr:hover {
    font-size: 14px;
  }
  .alinhar-time img {
    max-width: 30px; /* Defina o tamanho máximo desejado */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
    margin-right: 10px;
  }
}

/* --------Times Particpantes----- */
.container-times {
  background-color: var(--bg-first);
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
}

.container-times h2 {
  font-size: 30px;
  color: var(--color-first);
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.times {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.time img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.time:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .time {
    width: 100px;
    height: 100px;
  }
}

/* ---------Noticias da Home--------- */
.news-container {
  background-color: var(--bg-first);
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
}

.news-container h2 {
  font-size: 30px;
  color: var(--color-first);
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-item {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.news-item img {
  max-width: 100%; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  border-radius: 10px;
}
.news-item a {
  color: var(--color-second);
  text-decoration: none;
}

.news-item a p {
  text-align: center;
  padding-top: 5px;
  font-weight: bolder;
  line-height: 22px;
}

.news-item a:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  margin-top: 30px;
}

#news-link {
  background-color: var(--color-first);
  border: 2px solid var(--color-first);
  border-radius: 5px;
  color: var(--color-third);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

#news-link:hover {
  background-color: var(--hover-first);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}

@media screen and (max-width: 768px) {
  .news-item img {
    max-width: 100%; /* Defina o tamanho máximo desejado */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
    border-radius: 10px;
  }
  .news-item a p {
    font-size: 12px;
  }
}

/* ----------------------------Top 3 Artilheiros da Home----------------------------*/

.container-top {
  background-color: var(--bg-first);
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
}

.txt {
  font-size: 30px;
  color: var(--color-first);
  text-align: center;
  margin-bottom: 60px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.container-artilheiro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box-arti {
  width: 200px;
  text-align: center;
  box-shadow: 0 5px 15px;
  background-color: var(--bg-second);
  margin: 0;
  border-radius: 10px;
}

.box-arti img {
  max-height: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 3px solid var(--color-first);
  width: 100%;
  background-color: white;
}

.box-arti h2 {
  padding: 10px 0px 10px 0px;
  font-size: 25px;
  color: var(--color-first);
}

@media screen and (max-width: 768px) {
  .container-artilheiro {
    gap: 30px;
  }
  .box-arti {
    width: 150px;
  }
  .box-arti img {
    max-height: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid var(--color-first);
    width: 100%;
    background-color: white;
  }
  .box-arti h2 {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    color: var(--color-first);
  }
}

/* ----------------------------Best player----------------------------  */
.container-best-player {
  background-color: var(--bg-first);
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
}

.container-best-player h1 {
  font-size: 30px;
  color: var(--color-first);
  text-align: center;
  margin-bottom: 60px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.container-player {
  display: flex;
  gap: 30px;
}

.img-best-player img {
  max-width: 300px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  margin-right: 10px;
  border-radius: 3px;
}

.info-best-player {
  max-width: 500px;
  padding: 10px;
}

.info-best-player .number-player {
  font-size: 30px;
  color: var(--color-first);
}

.info-best-player .name-player {
  font-size: 50px;
  color: var(--color-second);
}

.info-best-player .position-player {
  font-size: 25px;
  color: var(--color-second);
  font-weight: lighter;
  margin-bottom: 20px;
}

.info-best-player p {
  color: var(--color-second);
  line-height: 30px;
  text-align: justify;
}

/* barra de progressao */
#wrapper {
  position: relative;
  top: 0px;
  width: 40px;
}
.center {
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.progress {
  width: 200px;
  height: 280px;
}
.progress .track,
.progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 3;
  transform: rotate(90deg) translate(0px, -80px);
}
.progress .track {
  stroke: rgb(56, 71, 83);
}
.progress .fill {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
}
.progress.blue .fill {
  stroke: var(--color-first);
}
.progress.green .fill {
  stroke: var(--color-first);
}
.progress .value,
.progress .text {
  fill: var(--color-second);
  text-anchor: middle;
}
.progress .text {
  font-size: 12px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
