/*----------------------------Tela de Mídia----------------------------*/
/* Estilos para a seção da notícia */
.midia {
  max-width: 1200px;
  margin: 30px auto;

  background-color: var(--bg-first);

  display: flex;
  flex-wrap: wrap;

  border: 2px solid var(--color-first);
  border-radius: 10px;
  box-shadow: 0 5px 15px;
  overflow: hidden;
}

.video-container {
  flex: 1;
  padding: 20px;
  margin: auto;
}

.texto {
  flex: 1;
  padding: 20px;
  text-align: center; /* Centralize o conteúdo */
}

.texto h2 {
  font-size: 24px;
  color: var(--color-first);
  margin-bottom: 20px;
}

.texto p {
  font-size: 16px;
  color: var(--color-second);
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
  text-indent: 20px; /* Paragrafo no texto */
}

.leia {
  background-color: var(--color-first);
  color: var(--bg-box);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid var(--color-first);
}

.leia a {
  color: var(--color-third);
  font-weight: bold;
  text-decoration: none;
}

.leia:hover {
  background-color: var(--hover-first);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}

@media (max-width: 768px) {
  .midia {
    flex-direction: column;
  }

  .texto {
    padding: 20px 40px;
  }
}

@media (max-width: 425px) {
  .texto {
    padding: 20px 20px;
  }

  .texto h2 {
    font-size: 20px;
  }

  .texto p {
    font-size: 14px;
  }

  .leia {
    font-size: 14px;
  }

  .leia a {
    font-size: 14px;
  }

  .video-container {
    padding: 20px 20px;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
  }
}
