/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-black: #16181b;
  --bg-main: #002e4c;

  --color-first: white;
  --hover-first: rgb(189, 189, 189);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Parte do Header */
header {
  background-color: #16181b;
  padding: 15px 0px 15px 0px;
  border-bottom: 2px solid var(--color-first);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a img {
  width: 100px;
  height: 80px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 60px;
}

nav ul li a {
  color: var(--color-first);
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--hover-first);
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.bt-login a {
  color: var(--color-first);
  font-size: 40px;
}
.bt-login a:hover {
  color: var(--hover-first);
}
/* Responsividade parcial do header */
@media screen and (max-width: 1024px) {
  nav ul li {
    margin-right: 30px;
  }
}

/* Pagina de Home */
/* Parte da Main */
main {
  background-color: var(--bg-main);
  height: 100%;
}

/* Parte do Carrosel de Confrontos */
/* Estilos para o container do carrossel */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center; /* Centralizar o conteúdo horizontalmente */
}

/* Estilos para o carrossel */
.carousel {
  display: flex;
  justify-content: center; /* Centralizar os cartões horizontalmente */
  transition: transform 0.5s ease-in-out;
  margin-top: 25px;
}

.card-slider {
  width: 900px; /* Aumente o tamanho do cartão conforme necessário */
  background-color: #f5f5f5;
  display: none; /* Inicialmente, todos os cartões estão ocultos */
  text-align: center; /* Alinhar o texto à esquerda */
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.card-slider.active {
  display: block; /* Exibir o cartão ativo */
}

.card-slider.active .header-card-slider {
  padding-bottom: 10px;
}

.plays-card-slider {
  display: flex;
  justify-content: space-around;
}

.play01 p {
  background: #a50044;
  color: white;
  font-size: 25px;
  font-weight: bold;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 3px solid black;
}

.play02 p {
  background: #cb0f20;
  color: white;
  font-size: 25px;
  font-weight: bold;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 3px solid black;
}

.score-card-slider p {
  padding-top: 100px;
  font-size: 40px;
}
/* Estilos para os botões de navegação */
#prevButton,
#nextButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#prevButton {
  margin-right: 10px;
}

#prevButton:hover,
#nextButton:hover {
  background-color: #0056b3;
}

/* Tela de Classificação*/
.container-class {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container-class h2 {
  color: white;
  text-align: center;
  padding: 15px 0px 30px 0px;
  font-size: 40px;
}

.container-class h3 {
  text-align: left;
  color: white;
  font-size: 30px;
  padding: 15px 0px 25px 0px;
  text-decoration: underline;
}

.container-class h4 {
  font-size: 25px;
  color: white;
  padding: 15px 0px 20px 0px;
}

.container-class table {
  width: 100%;
  padding-bottom: 50px;
}

.container-class th,
.container-class td {
  padding: 10px;
  text-align: center;
}

.container-class th {
  background-color: rgba(163, 163, 163, 0.728);
  color: white;
}

.container-class tr {
  background-color: rgba(128, 128, 128, 0.728);
  color: rgb(255, 255, 255);
}
.container-class tr:hover {
  background: rgba(163, 163, 163, 0.728);
  color: var(--bg-black);
}

.alinhar-time {
  display: flex;
  align-items: center;
}

.alinhar-time img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.primeiros {
  border-left: 3px solid rgb(1, 255, 1);
}

.ultimo {
  border-left: 3px solid red;
}

/* Tela de Login*/

/* Estilo para o container de login */
.login-container {
  background-color: #16181bb9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
}

/* Estilo para o título "Tela de Login" */
.login-container h2 {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 30px;
  color: white;
  font-size: 30px;
}

/* Estilo para as seções de usuário e senha */
.login-container section {
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Estilo para os campos de entrada de texto */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 90%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-size: 18px;
}

.login-container input:hover {
  border: 2px solid #007bff;
  background-color: rgb(199, 199, 199);
}

.login-container input:focus {
  background: rgb(222, 222, 222);
  color: black;
}

/* Estilo para o botão de entrada */
.login-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  margin-bottom: 20px;
  font-weight: bold;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo para o link "Esqueceu a senha?" */
.forgot-password a {
  text-decoration: none;
  color: #007bff;
}
.forgot-password a:hover {
  text-decoration: underline;
  color: rgb(205, 205, 205);
}

/* Estilo para os botões de login social */
.social-buttons {
  margin-top: 20px;
}

.social-buttons button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

/* Estilo para os ícones nas redes sociais */
.social-buttons ion-icon {
  font-size: 30px;
  color: black;
}

/* Estilo para os botões de login social específicos */
.custom-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/545356586/pt/foto/estádio-de-futebol-de-futebol-com-projectores.jpg?s=612x612&w=0&k=20&c=gAOC_MmTL0-2PuLZH_Vv7jyl4t4tqIe1xCDZBu4s1VU=");
  background-size: cover; /* Para cobrir toda a tela */
  background-position: center; /* Centralize a imagem */
}

/*Estilo da Tela de Mídia*/

.container-midia {
  width: 1400px;
  margin: auto;
  border: 1px solid #ccc;
  height: 80vh;
}

.noticia{
  width: 1350px;
  background-color: white;
  height: 400px;
  border: 1px solid red;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  padding: 10px;
}

.texto {
  border: 1px solid red;
  padding: 10px;
  text-align: center;
}

.texto h2 {
  font-size: 26px;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 10px;
}

.texto p {
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: justify;
}

.leia a {
  width: 70px;
  margin: auto;
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.leia:hover{
  background-color: wheat;
  border-radius: 10px;
}

/* Estilo da Tela de Noticia*/
.title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
}


.teste {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.video-container {
  text-align: center;
}

.video {
  width: 1000px;
  max-width: 560px;
  height: 300px;
}

.texto-container {
  text-align: center;
  margin-top: 20px;
}

.texto-container h2{
  font-size: 20px;
  margin: 10px;
}

.descricao {
  font-size: 16px;
  text-align: justify;
  
}

.conteudo {
  text-align: center; 
}

.imagem-texto {
  display: flex;
  align-items: center; 
}

.imagem-noticia {
  max-width: 300px; 
  margin-right: 10px; 
}

.text {
  flex: 1; 
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

