/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-box: #16181b;
  --bg-main: #142b59;

  --color-first: #aeff00;
  --color-second: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
}

/* Barras de rolagem */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bg-box); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-first); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* ----------------------------Parte do Header---------------------------- */
/* Header */
header {
  background-color: var(--bg-box);
  padding: 15px 0;
  border-bottom: 2px solid var(--color-first);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a img {
  max-width: 110px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 60px;
}

nav ul li a {
  color: var(--color-second);
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--color-first);
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.bt-login a {
  color: var(--color-second);
  font-size: 40px;
}
.bt-login a:hover {
  color: var(--color-first);
}

/* Responsividade header */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px 0;
  }

  .logo a img {
    max-width: 90px;
  }

  nav {
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .bt-login a {
    font-size: 30px;
    margin-top: 10px;
  }
}

/* ----------------------------Pagina de Home ----------------------------*/
/* ----------------------------Parte Carrosel de Confrontos ----------------------------*/
/* Estilos para o container do carrossel */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o carrossel */
.carousel {
  width: 100%; /* Defina a largura como 100% para ocupar a largura total do container */
  margin-top: 30px;
  transition: transform 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  flex: 3;
}

.card-slider {
  background-color: var(--bg-box);
  width: 100%; /* Usar 100% para tornar o design responsivo */
  display: none;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box; /* Evitar problemas com largura total */
  border: 2px solid var(--color-first);
  border-radius: 10px;
}

.card-slider.active {
  display: block;
}

.header-card-slider h2 {
  color: var(--color-first);
  font-size: 40px;
}

.header-card-slider p {
  color: var(--color-second);
  font-size: 20px;
}

.plays-card-slider {
  display: flex;
  justify-content: space-around;
}

.play01 p,
.play02 p {
  background: linear-gradient(to bottom, #591c21, #d92525);
  color: var(--color-second);
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  border-top: 3px solid var(--color-first);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.play01 img,
.play02 img {
  max-width: 300px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.score-card-slider p {
  padding-top: 100px;
  font-size: 90px;
  color: var(--color-second);
}

#prevButton,
#nextButton {
  background-color: var(--color-first);
  color: var(--bg-box);
  height: 150px; /*Defina a altura desejada */
  border: 3px solid var(--color-first);
  padding: 10px 20px; /* Aumente o padding para ajustar o tamanho dos botões */
  cursor: pointer;
  font-weight: bold;
  font-size: 30px; /* Aumente o tamanho da fonte */
}

#nextButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#prevButton {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#prevButton:hover,
#nextButton:hover {
  background-color: var(--color-second);
}

.tabelas-home {
  /* display: block; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: center; */
  border: 2px solid var(--color-first);
  border-radius: 10px;
  border-collapse: collapse;
  /* width: 100%; */
  box-sizing: border-box;
  max-width: 1200px;
  margin: 30px auto;
  color: #FFFFFF;
}

.tabelas-home h2 {
  text-align: center;
  margin-top: 20px;
}

.home-classificacao {
  /* max-width: 800px; */
  margin: auto;
  padding: 30px;
  text-align: center;
}

.home-classificacao table tr td, .home-classificacao table tr th {
  padding: 10px;
}

/* Adicione uma media query para estilos específicos em telas menores */
@media screen and (max-width: 768px) {
  .carousel {
    overflow-x: auto;
    flex-wrap: nowrap; /* Impede que os cartões quebrem para a próxima linha */
  }

  #prevButton,
  #nextButton {
    padding: 5px 5px; /* Aumente o padding para ajustar o tamanho dos botões */
    cursor: pointer;
    font-weight: bold;
    font-size: 30px; /* Aumente o tamanho da fonte */
    height: 100px;
  }

  .play01 img,
  .play02 img {
    max-width: 200px; /* Defina o tamanho máximo desejado */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  }
}

/* --------Times Particpantes----- */
.container-times {
  background-color: var(--bg-box);
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px;
  border: 2px solid var(--color-first);
  border-radius: 10px;
}

.container-times h2 {
  font-size: 30px;
  color: var(--color-first);
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.times {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.time img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.time:hover img {
  transform: scale(1.2);
}

/* ---------Noticias da Home--------- */
.news-container {
  margin: 30px auto 30px auto;
  background: var(--bg-box);
  max-width: 1200px;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid var(--color-first);
}

.news-container h2 {
  text-align: center;
  font-size: 30px;
  color: var(--color-first);
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

.new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-item {
  background-color: var(--bg-box);
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.news-item img {
  max-width: 250px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  border-radius: 10px;
}
.news-item a {
  color: var(--color-second);
  text-decoration: none;
}

.news-item a p {
  text-align: center;
  padding-top: 5px;
  font-weight: bolder;
  line-height: 22px;
}

.news-item a:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  margin-top: 30px;
}

#news-link {
  text-decoration: none;
  border: 2px solid var(--color-first);
  background-color: var(--color-first);
  color: var(--bg-box);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

#news-link:hover {
  background-color: var(--color-second);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}

/* ----------------------------Tela de Classificação----------------------------*/
.container-class {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: var(--bg-box);
  border-radius: 10px;
}

.container-class h2 {
  color: var(--color-first);
  font-size: 40px;
  padding: 15px 0px 30px 0px;
}

.container-class h3 {
  color: var(--color-first);
  font-size: 30px;
  padding: 15px 0px 25px 0px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
  text-align: left;
}

.container-class h4 {
  color: var(--color-first);
  font-size: 25px;
  padding: 15px 0px 20px 0px;
}

.container-class .grupo {
  padding-bottom: 50px;
}

.container-class table {
  width: 100%;
  border-collapse: collapse;
}

.container-class th,
.container-class td {
  padding: 10px;
  text-align: center;
}

.container-class th {
  background-color: #5f5f65;
  color: white;
  border: 1px solid white;
}

.container-class tr {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  background-color: #343a40;
}
.container-class tr:hover {
  background: #9ca3ab;
  color: var(--bg-black);
}

.alinhar-time {
  display: flex;
  align-items: center;
}

.alinhar-time img {
  max-width: 50px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  margin-right: 15px;
}

.primeiros {
  border-left: 3px solid rgb(1, 255, 1);
}

.ultimo {
  border-left: 3px solid red;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .container-class {
    padding: 10px;
  }

  .container-class h2 {
    font-size: 24px;
  }

  .container-class h3 {
    font-size: 20px;
  }

  .container-class h4 {
    font-size: 18px;
  }

  /* Reduza o tamanho das imagens */
  .alinhar-time img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  /* Tornar a tabela responsiva */
  .container-class table {
    font-size: 12px; /* Reduz o tamanho da fonte das tabelas para melhor legibilidade em telas pequenas */
    width: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
    overflow-x: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
  }
}

/* ----------------------------Tela de Login----------------------------*/
.container-login {
  width: 100%;
  display: flex;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212); */
}

.form-image {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image img {
  width: 100%;
}

.form {
  border-left: 3px solid var(--color-first);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-box);
  padding: 48px;
}

.form-header {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.form-header .title h2 {
  color: var(--color-first);
  font-size: 45px;
}

.form-header h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.input-box input {
  margin: 10px 0;
  padding: 13px 80px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  text-align: center;
  border: 2px solid var(--color-second);
}
.input-box input:hover {
  background: rgb(205, 205, 205);
  border: 2px solid var(--color-first);
}

.input-box label {
  font-size: 18px;
  font-weight: bolder;
  color: var(--color-second);
}

.input-box input::placeholder {
  color: #000000be;
}

.continue-button button {
  width: 50%;
  margin-top: 40px;
  border: none;
  background-color: var(--color-first);
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid var(--color-first);
}
.continue-button button:hover {
  background-color: var(--color-second);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}

.continue-button button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: var(--bg-box);
}

.password-input {
  display: flex;
  align-items: center;
}

.password-input input {
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  text-align: center;
  border: 2px solid var(--color-second);
}

.password-input ion-icon {
  margin-left: -40px; /* Ajuste o valor conforme necessário para alinhar o ícone adequadamente */
  cursor: pointer;
}
/*----------------------------Tela de Mídia----------------------------*/
/* Estilos para a seção da notícia */
.midia {
  max-width: 1200px;
  margin: 30px auto;

  background-color: var(--bg-box);

  display: flex;
  flex-wrap: wrap;

  border: 2px solid var(--color-first);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
}

.video-container {
  flex: 1;
  padding: 20px;
}

.texto {
  flex: 1;
  padding: 20px;
  text-align: center; /* Centralize o conteúdo */
}

.texto h2 {
  font-size: 24px;
  color: var(--color-first);
  margin-bottom: 20px;
}

.texto p {
  font-size: 16px;
  color: var(--color-second);
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
  text-indent: 20px; /* Paragrafo no texto */
}

.leia {
  background-color: var(--color-first);
  color: var(--bg-box);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid var(--color-first);
}

.leia a {
  color: var(--bg-box);
  font-weight: bold;
  text-decoration: none;
}

.leia:hover {
  background-color: var(--color-second);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}

/* Estilos para o vídeo incorporado */
.video-container iframe {
  width: 100%;
  height: 100%;
}

/* ----------------------------Tela de Noticia----------------------------*/
.noticia {
  width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--bg-box);
  border: 2px solid var(--color-first);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.noticia h2 {
  color: var(--color-first);
  font-size: 30px;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}

.imagem-texto {
  display: flex;
  align-items: center;
}

.imagem-noticia {
  max-width: 300px;
  margin-right: 10px;
}

.texto {
  flex: 1;
  text-align: left;
}

.descricao p {
  font-size: 18px;
  text-align: justify;
  color: var(--color-second);
}

/* ----------------------------FOOTER---------------------------- */
footer {
  background-color: var(--bg-box);
  color: var(--color-second);
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid var(--color-first);
}

footer p {
  padding-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: var(--color-first);
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
}

/* ----------------------------Tela de Partidas----------------------------*/
/* Estilo para o container principal */
.container-box {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--bg-box);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Estilo para o logotipo da liga */
.container-box .logo {
  max-width: 400px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  display: block; /* Adicione esta linha para centralizar horizontalmente */
  margin: 0 auto; /* Adicione esta linha para centralizar horizontalmente */
  border-radius: 10%;
}

/* Estilo para o título do campeonato */
.container-box .titulo-campeonato {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  color: var(--color-first);
}

/* Estilo para os títulos das Rodadas*/
.container-box h2 {
  font-size: 30px;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  color: var(--color-first);
}

/* Estilo para as tabelas de partidas */
.container-box .tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.container-box .tabela th,
.container-box .tabela td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.container-box .tabela td {
  color: var(--color-second);
  background-color: #343a40;
}

.container-box .tabela th {
  background-color: #5f5f65;
  color: #fff;
}

.info-torcedores p {
  margin-top: 10px;
  color: var(--color-second);
}

/* Estilo para os nomes dos times */
.container-box .logo-time {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Estilo para a seção de informações para torcedores */
.container-box .info-torcedores {
  margin-top: 40px;
}

/* Estilo para a seção de redes sociais */
.redes-sociais {
  text-align: left;
  color: #fff; /* Cor do texto */
}

/* Estilizando o título */
.redes-sociais h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilizando o parágrafo de descrição */
.redes-sociais p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Estilizando a lista de ícones */
.redes-sociais ul {
  list-style: none;
  padding: 0;
}

/* Estilizando cada ícone de rede social */
.redes-sociais li {
  display: inline-block;
  margin: 0 10px; /* Espaçamento entre os ícones */
}

/* Estilizando os ícones (substitua "ion-icon" pelo nome da classe real) */
.redes-sociais a ion-icon {
  font-size: 36px;
  color: #fff; /* Cor do ícone */
  text-decoration: none;
}

/* Estilizando os ícones ao passar o mouse sobre eles */
.redes-sociais a ion-icon:hover {
  color: var(--color-first); /* Cor diferente ao passar o mouse */
}
#rodada-select {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

#rodada-select:hover {
  background-color: #ccc;
}

/* ----------------------------Pagina de estatistica---------------------------- */
/* Estilo das seções */
.container-estatistica section {
  max-width: 1200px;
  margin: 30px auto; /* Centraliza o conteúdo horizontalmente */
  background-color: var(--bg-box);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--color-first);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-estatistica h2 {
  color: var(--color-first);
  margin-bottom: 35px;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
  text-align: center;
}

/* Estilo das tabelas */
.container-estatistica table {
  width: 100%;
  border-collapse: collapse;
}

.container-estatistica th,
.container-estatistica td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.container-estatistica th {
  background-color: #5f5f65;
  color: var(--color-second);
}

/* Estilos para as células que contêm imagens e logotipos */
.container-estatistica td img {
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
}

.container-estatistica td {
  text-align: center; /* Centraliza horizontalmente o texto dentro das células */
  vertical-align: middle; /* Centraliza verticalmente o conteúdo */
  color: var(--color-second);
  background-color: #343a40;
}

.container-estatistica section img {
  max-width: 50px; /* Defina o tamanho máximo desejado */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
}

/* Responsividade */
@media (max-width: 768px) {
  .container-estatistica section {
    margin: 10px 0; /* Remove margem nas laterais para economizar espaço */
    padding: 10px; /* Reduz o preenchimento para economizar espaço */
    box-shadow: none; /* Remova a sombra para simplificar */
  }

  .container-estatistica h2 {
    font-size: 24px; /* Reduz o tamanho da fonte para melhor legibilidade em telas pequenas */
  }

  .container-estatistica table {
    font-size: 12px; /* Reduz o tamanho da fonte das tabelas para melhor legibilidade em telas pequenas */
    width: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
    overflow-x: auto; /* Adiciona rolagem horizontal às tabelas quando necessário */
  }

  .container-estatistica td img {
    max-width: 50px; /* Defina o tamanho máximo desejado */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente proporcionalmente à largura */
  }

  /* Ajusta o layout das tabelas para economizar espaço horizontal */
  .container-estatistica th,
  .container-estatistica td {
    padding: 5px;
  }
}

/* ----------------------------Função de subir para o topo----------------------------*/
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  background-color: var(--color-first);
  color: var(--bg-box);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 3px solid var(--color-first);
}

#topButton:hover {
  background-color: var(--color-second);
  border: 3px solid var(--color-first);
  box-shadow: 0 0 25px var(--color-first);
}
