.container {
  max-width: 1200px;
  margin: 30px auto;
  background: var(--bg-first);
  border-radius: 10px;
  padding: 30px;
  border: 2px solid var(--color-first);
  /* text-align: center; */
}

.container h1 {
  font-size: 40px;
  color: var(--color-first);
  margin-bottom: 10px;
  text-align: center;
}

.container p {
  font-size: 24px;
  color: var(--color-second);
  margin-bottom: 10px;
  text-align: center;
}

.title {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Espessura do traço da linha de decoração */
  text-underline-offset: 8px; /*Distância de deslocamento de uma linha de decoração de texto */
  font-size: 30px;
  color: var(--color-first);
  margin-top: 30px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-second);
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--bg-third);
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"],
main button {
  padding: 12px 24px;
  background-color: var(--color-first);
  color: var(--color-third);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--hover-first);
}

div[id="timesContainer"] {
  border: 1px solid var(--bg-third);
  padding: 10px;
  margin-top: 10px;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: var(--color-first);
  margin-bottom: 10px;
}

.jogador {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-second);
}

.jogador h2 {
  font-size: 30px;
  color:var(--color-first);
  margin-bottom: 10px;
}

.jogador label {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.jogador input[type="text"],
.jogador input[type="number"],
.jogador select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--bg-third);
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  border: 1px solid var(--bg-third);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Estilo para campos de entrada em foco */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: var(--color-first);
  box-shadow: 0 0 5px var(--color-first);
}

@media (max-width: 768px) {
  .container {
    margin: 30px 10px; /* Centraliza o conteúdo horizontalmente */
  }

  .container h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .jogador h2 {
    font-size: 25px;
  }

  .jogador label {
    font-size: 16px;
  }

  .jogador input[type="text"],
  .jogador input[type="number"],
  .jogador select {
    font-size: 14px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="file"] {
    font-size: 14px;
  }
}
